node1
[{"id":"f53d6195.0ac2a","type":"http request","z":"898070f7.767f9","name":"Data source","method":"GET","url":"http://www.aviationweather.gov{{{payload}}}","x":326,"y":219,"wires":[["d0f3a5aa.2f0c58"]]},{"id":"991335e.f66ecc8","type":"inject","z":"898070f7.767f9","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=EGCN","payloadType":"str","repeat":"600","crontab":"","once":false,"x":163,"y":219,"wires":[["f53d6195.0ac2a"]]},{"id":"d0f3a5aa.2f0c58","type":"xml","z":"898070f7.767f9","name":"","x":472,"y":219,"wires":[["6cc0e4ea.933f1c","9f1104d9.60eef8"]]},{"id":"6cc0e4ea.933f1c","type":"function","z":"898070f7.767f9","name":"Parse METAR","func":"var METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nmsg.payload = {value:((wind))};\nreturn msg;\n","outputs":1,"noerr":0,"x":627,"y":219,"wires":[[]]},{"id":"9f1104d9.60eef8","type":"debug","z":"898070f7.767f9","name":"","active":false,"console":"false","complete":"false","x":833,"y":173,"wires":[]}]
