node3
[{"id":"b87f149d.4780e8","type":"inject","z":"748e64e1.8b719c","name":"ShoutCast","topic":"","payload":"stats?sid=1","payloadType":"str","repeat":"600","crontab":"","once":false,"x":206.33334350585938,"y":342.666654586792,"wires":[["45682424.ba97dc"]]},{"id":"65e991aa.9a167","type":"xml","z":"748e64e1.8b719c","name":"","attr":"","chr":"","x":535.3333435058594,"y":342.666654586792,"wires":[["10879151.ef786f","f4c41533.0b3be8"]]},{"id":"6a124556.95edbc","type":"debug","z":"748e64e1.8b719c","name":"","active":false,"console":"false","complete":"false","x":972.3333435058594,"y":279.666654586792,"wires":[]},{"id":"10879151.ef786f","type":"debug","z":"748e64e1.8b719c","name":"","active":false,"console":"false","complete":"false","x":756.3333740234375,"y":210.66665649414062,"wires":[]},{"id":"f4c41533.0b3be8","type":"function","z":"748e64e1.8b719c","name":"Tartamento de dados","func":"var METARdata = msg.payload.SHOUTCASTSERVER;\nvar cont = METARdata.CURRENTLISTENERS[0];\nmsg.payload = {value:((cont))};\nreturn msg;\n","outputs":1,"noerr":0,"x":770.3333740234375,"y":425.6666564941406,"wires":[["6a124556.95edbc"]]},{"id":"45682424.ba97dc","type":"http request","z":"748e64e1.8b719c","name":"Data source","method":"GET","url":"http://cdn.rj.assocrj.com.br:8000/{{{payload}}}","x":373.3333435058594,"y":343.666654586792,"wires":[["65e991aa.9a167"]]}]