node2
[{"id":"72431463.8dbcec","type":"rpi-gpio out","z":"ece6f228.13191","name":"","pin":"23","set":false,"out":"out","x":1176,"y":286.83331298828125,"wires":[]},{"id":"4f4e5687.b0b1a8","type":"rpi-gpio in","z":"ece6f228.13191","name":"","pin":"3","intype":"tri","read":false,"x":75.1666259765625,"y":254,"wires":[["fe25a463.01da58"]]},{"id":"fe25a463.01da58","type":"trigger","z":"ece6f228.13191","op1":"Camera1","op2":"0","op1type":"val","op2type":"val","duration":"2","extend":true,"units":"s","name":"Camera1","x":294.1666259765625,"y":253,"wires":[["cea7e47c.315818","5f06f621.a0f908"]]},{"id":"6220b2a5.9ddf4c","type":"switch","z":"ece6f228.13191","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":995.1666259765625,"y":289,"wires":[["72431463.8dbcec","d2b39362.2d4c7"],["72431463.8dbcec","44b9b7c5.bb4648"]]},{"id":"de1003cc.21f","type":"delay","z":"ece6f228.13191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":814.1666259765625,"y":193,"wires":[["6220b2a5.9ddf4c"]]},{"id":"6b75d554.948a2c","type":"e-mail","z":"ece6f228.13191","server":"smtp.gmail.com","port":"465","name":"","dname":"OffAir","x":1705.1666259765625,"y":412,"wires":[]},{"id":"275dc57a.d8a23a","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1497.1666259765625,"y":377,"wires":[]},{"id":"cfefa8e1.301058","type":"change","z":"ece6f228.13191","name":"Change message","rules":[{"t":"set","p":"payload","to":"Off AIR"}],"action":"","property":"","from":"","to":"","reg":false,"x":1506.1666259765625,"y":451,"wires":[["60bd8742.9f4278","6b75d554.948a2c"]]},{"id":"60bd8742.9f4278","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1714.1666259765625,"y":481,"wires":[]},{"id":"26cf611f.d9309e","type":"change","z":"ece6f228.13191","name":"Change message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1512.1666259765625,"y":116,"wires":[["5d45745e.a2ba8c","a18f6098.5e70a"]]},{"id":"a18f6098.5e70a","type":"e-mail","z":"ece6f228.13191","server":"smtp.gmail.com","port":"465","name":"","dname":"OnAir","x":1709.1666259765625,"y":51,"wires":[]},{"id":"d7fa2898.2805d8","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1494.1666259765625,"y":186,"wires":[]},{"id":"d2b39362.2d4c7","type":"trigger","z":"ece6f228.13191","op1":"1","op2":"1","op1type":"nul","op2type":"val","duration":"2","extend":true,"units":"s","name":"","x":1155.1666259765625,"y":144,"wires":[["26cf611f.d9309e","d7fa2898.2805d8"]]},{"id":"44b9b7c5.bb4648","type":"trigger","z":"ece6f228.13191","op1":"1","op2":"1","op1type":"nul","op2type":"val","duration":"10","extend":true,"units":"s","name":"","x":1170.1666259765625,"y":402,"wires":[["275dc57a.d8a23a","cfefa8e1.301058"]]},{"id":"cea7e47c.315818","type":"switch","z":"ece6f228.13191","name":"Cameras","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Camera1","vt":"str"},{"t":"eq","v":"Camera2","vt":"str"}],"checkall":"true","outputs":2,"x":439,"y":466.83331298828125,"wires":[["34af06d0.cb50fa"],["ae0831d2.51f7d"]]},{"id":"34af06d0.cb50fa","type":"trigger","z":"ece6f228.13191","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"2","extend":true,"units":"s","name":"Camera1","x":573,"y":229.83331298828125,"wires":[["de1003cc.21f"]]},{"id":"e13a3598.1ec5c8","type":"rpi-gpio out","z":"ece6f228.13191","name":"","pin":"36","set":false,"out":"out","x":1189,"y":814.8333129882812,"wires":[]},{"id":"716a83b3.8e957c","type":"switch","z":"ece6f228.13191","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":1008.1666259765625,"y":817,"wires":[["e13a3598.1ec5c8","defcd28a.21033"],["e13a3598.1ec5c8","957632e7.6a89d"]]},{"id":"bb1976ff.44e688","type":"delay","z":"ece6f228.13191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":835.1666259765625,"y":719,"wires":[["716a83b3.8e957c"]]},{"id":"b9f1d6c4.460e28","type":"e-mail","z":"ece6f228.13191","server":"smtp.gmail.com","port":"465","name":"","dname":"OffAir","x":1718.1666259765625,"y":940,"wires":[]},{"id":"67d510ff.982af","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1510.1666259765625,"y":905,"wires":[]},{"id":"a2a94016.5d56c","type":"change","z":"ece6f228.13191","name":"Change message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1519.1666259765625,"y":979,"wires":[["6e612693.919ed8","b9f1d6c4.460e28"]]},{"id":"6e612693.919ed8","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1727.1666259765625,"y":1009,"wires":[]},{"id":"bd372145.42c8e","type":"change","z":"ece6f228.13191","name":"Change message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1525.1666259765625,"y":644,"wires":[["5d6ae56a.a2951c","c4647639.3b9b88"]]},{"id":"c4647639.3b9b88","type":"e-mail","z":"ece6f228.13191","server":"smtp.gmail.com","port":"465","name":"","dname":"OnAir","x":1722.1666259765625,"y":579,"wires":[]},{"id":"5d6ae56a.a2951c","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1742.1666259765625,"y":678,"wires":[]},{"id":"fe6191fb.019e7","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":1507.1666259765625,"y":714,"wires":[]},{"id":"defcd28a.21033","type":"trigger","z":"ece6f228.13191","op1":"1","op2":"1","op1type":"nul","op2type":"val","duration":"2","extend":true,"units":"s","name":"","x":1168.1666259765625,"y":672,"wires":[["bd372145.42c8e","fe6191fb.019e7"]]},{"id":"957632e7.6a89d","type":"trigger","z":"ece6f228.13191","op1":"1","op2":"1","op1type":"nul","op2type":"val","duration":"10","extend":true,"units":"s","name":"","x":1183.1666259765625,"y":930,"wires":[["67d510ff.982af","a2a94016.5d56c"]]},{"id":"ae0831d2.51f7d","type":"trigger","z":"ece6f228.13191","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"2","extend":true,"units":"s","name":"Camera2","x":596,"y":637.8333129882812,"wires":[["bb1976ff.44e688"]]},{"id":"46254371.b9dabc","type":"trigger","z":"ece6f228.13191","op1":"Camera2","op2":"0","op1type":"val","op2type":"val","duration":"2","extend":true,"units":"s","name":"Camera2","x":279,"y":636.8333129882812,"wires":[["cea7e47c.315818","ce7958b3.3186a8"]]},{"id":"d75dc730.28a238","type":"rpi-gpio in","z":"ece6f228.13191","name":"","pin":"5","intype":"tri","read":false,"x":55,"y":638.8333129882812,"wires":[["46254371.b9dabc"]]},{"id":"ce7958b3.3186a8","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":445,"y":810.8333129882812,"wires":[]},{"id":"6607269b.99f8d8","type":"rpi-gpio out","z":"ece6f228.13191","name":"","pin":"36","set":false,"out":"out","x":623,"y":74.99990844726562,"wires":[]},{"id":"8dcb2109.7234e","type":"function","z":"ece6f228.13191","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state === 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":404.1666259765625,"y":74.16656494140625,"wires":[["6607269b.99f8d8"]]},{"id":"79b0403a.864fc","type":"inject","z":"ece6f228.13191","name":"tick every .5 sec","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":true,"x":172.1666259765625,"y":74.16656494140625,"wires":[["8dcb2109.7234e"]]},{"id":"5f06f621.a0f908","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":532.9999999999999,"y":156.83331298828122,"wires":[]},{"id":"5d45745e.a2ba8c","type":"exec","z":"ece6f228.13191","command":"ls","addpay":false,"append":"-lah","useSpawn":false,"name":"ls","x":1839,"y":285.83331298828125,"wires":[["b49871f5.4b679"],["b49871f5.4b679"],[]]},{"id":"b49871f5.4b679","type":"debug","z":"ece6f228.13191","name":"","active":false,"console":"false","complete":"false","x":2107.333335876465,"y":207.8333225250244,"wires":[]}]